<footer>
    <div class="footer-bg">
        <div class="container">
            <h2>Tokyo7club</h2>
            <div class="row">
                <div class="footer-payment">
                    <div class="footer-payment__title">{{ __('ช่องทางการชำระเงิน', 'template')  }}</div>
                    <div class="footer-payment__logo"><img src="{{ TimberImage(options_f_payment).src }}" alt="payment"></div>
                </div>
            </div>
            <div class="row logogame">
            {% for logo in options_f_logogame %}
                <div class="footer-game">
                    <div class="footer-game__logo"><img src="{{ TimberImage(logo.f_logogame_image).src }}" alt="f_logo{{loop.index}}"></div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="footer-copyright">
            <div class="footer-copyright__text">
                {{ __('Copyright 2020 Tokyo7club ALL RIGHTS RESERVED.', 'template')  }}
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">
    WebFontConfig = {
        google: { families: [ 'Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700' ] }
    };

    (function() {
        var wf = document.createElement('script');
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
</script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
{{ function('wp_footer') }}