{% extends 'base.twig' %}
{% block content %}
{% include 'templates/partial/menu.twig' %}

<section class="sec-content" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
        {{ options_slot_content }}
    </div>
</section>

<section class="sec-slot">
    <div class="container">
        <div class="row">
            {% for box in options_slot_block %}
            {% set content = TimberPost(box.slot_block_link) %}
            <div class="col-6 col-md-3">
                <a href="{{ content.guid }}" class="box-product slot_game" data-slug="{{ content.postslug }}" data-aos="fade-up" data-aos-duration="1000">
                    {% if box.slot_block_hot == true %} 
                        <div class="box-product__hot" style="background-image: url('{{ theme.path }}/images/hot.gif');"></div>
                    {% endif %}
                    <div class="box-product__overlay"><div class="btn btn-game">เล่นเกม</div></div>
                    <div class="box-product__logo">
                        <div class="logo"><img src="{{ TimberImage(box.slot_block_logo).src }}"></div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}